
  <!--paste start-->
        <main>
        <p id="notice"></p>
        <div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
<table class='table'>
  <tr>
    <!--<img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMEg1QWc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2ed49efb44cfe1949afaaf3ebe164c0af8536317/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--4a929dbc7794f3c4610ba9ba5402762ad9cd1a14/default-image.jpg" />-->
     <%=
       # 共通処理を呼び出す
       image_tag @user.get_profile_image(100,100)
     %>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <!--<a class="btn btn-outline-secondary btn-block edit_user_69591" href="ユーザ編集画面のリンク">-->
  <!--  <i class="fas fa-user-cog"></i>-->
  <!--</a>-->

  <%= link_to(edit_user_path(@user), class:"btn btn-outline-secondary btn-block edit_user_69591") do %>
    <i class="fas fa-user-cog"></i>
  <% end %>

</div>
      <h2 class="mt-3">New book</h2>

<%= form_with model: @book do |f| %>
    <div class="form-group">
      <label for="book_title">Title</label>
      <!--<input class="form-control book_title" type="text" name="book[title]" id="book_title" />-->
      <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"title", class:"form-control book_title" %>
    </div>
    <div class="form-group">
      <label for="book_opinion">Opinion</label>
      <!--<textarea class="form-control book_body" name="book[body]" id="book_body">-->
      <%= f.text_area :body, autofocus: true, id:"inputOpinion", placeholder:"Opinion", class:"form-control book_body" %>
    </div>
    <div class="form-group">
      <!--<input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User" />-->
      <%= f.submit "Create Book", class:"btn btn-success" %>
    </div>
<% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
      <table class='table'>
  <tbody>
    <!--書き換えスタート-->
  		<tr>
        <td>
          <%= link_to user_path(@books.user_id) do %>
          <%= image_tag @user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td>
          <%= link_to(book_path(@books.id), class:"book_52730") do %>
            <%= @books.title %>
          <% end %>
        </td>
        <td>
          <%= @books.body %>
        </td>

        <td>
          <!--<a class="btn btn-sm btn-success edit_book_52617" href="/books/52617/edit">Edit</a>-->

          <%= link_to(edit_book_path(@books.id), class:"btn btn-sm btn-success edit_book_52617") do %>
            Edit
          <% end %>
        </td>
        <td>
          <!--<a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_52617" rel="nofollow" data-method="delete" href="/books/52617">Destroy</a>-->

          <%= link_to(book_path(@books.id), method: :delete , class:"btn btn-sm btn-danger destroy_book_52617") do %>
            Destroy
          <% end %>
        </td>
      </tr>
      <!--書き換えエンド-->
  </tbody>
</table>
    </div>
  </div>
</div>

      </main>